  <div class="col-5">  
    <div class="form-group">
      <label>ID</label>
      <input type="text" disabled class="form-control" [(ngModel)]="star.id" placeholder="">
    </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          
        <div class="form-row">              
              <div class="form-group ">
                  <label>Nombre Star</label>
                  <input type="text" id="nombre" formControlName="nombre" class="form-control" [(ngModel)]="star.nombre" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
                  <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                      <div *ngIf="f.nombre.errors.required">Colocar Nombre</div>
                  </div>
              </div>
     
              <div class="form-group ">
                  <label>Densidad</label>
                  <input type="text" formControlName="densidad" class="form-control" [(ngModel)]="star.densidad" [ngClass]="{ 'is-invalid': submitted && f.densidad.errors }" />
                  <div *ngIf="submitted && f.densidad.errors" class="invalid-feedback">
                      <div *ngIf="f.densidad.errors.required">Colocar Densidad</div>
                  </div>
              </div>

 
          </div>
        
        
       
          <div class="text-center">
            <button class="btn btn-outline-info btn-block mr-1" style="margin-top: 2%" >GUARDAR</button>
            <button class="btn btn-outline-danger btn-block" type="reset" style="margin-top: 2%"   (click)="onReset()">CANCELAR</button>
            <button class="btn btn-outline-dark btn-block" style="margin-top: 2%" [routerLink]="['/star']">VOLVER</button>
        </div>
      </form>
</div>